{% extends 'base.html' %}
{% block content %}


        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our website</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class= "col-8">
                        <br></br>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel dignissim nunc. Phasellus lacus erat, tristique ac magna in, luctus ullamcorper diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque semper ligula a tortor vulputate sodales. Curabitur sit amet consequat massa. Aliquam vel dolor erat. Integer odio justo, dignissim a posuere vitae, vestibulum eget massa. Donec semper nunc eu lectus pharetra convallis. Duis vitae cursus libero. Vivamus vehicula libero vel rhoncus pellentesque. Vivamus mollis lacus ex, sed dignissim lectus pellentesque eu.
                            <br></br>
                            Ut velit eros, efficitur nec enim at, ornare maximus lacus. Integer pretium est in dolor tristique suscipit. Vestibulum venenatis a risus in cursus. Maecenas ut justo magna. Sed ornare leo sit amet vulputate pellentesque. Nam posuere venenatis pulvinar. Pellentesque sed pellentesque mi. Vivamus in laoreet massa. Donec vestibulum malesuada cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam quis ullamcorper lacus. Nullam sollicitudin augue turpis, ac consectetur ipsum consequat ut. Nunc at interdum sem. Cras tortor dui, efficitur at arcu nec, fringilla pretium quam. Vestibulum egestas rhoncus libero, at molestie magna faucibus eu.
                            <br></br>
                            In maximus finibus fermentum. Praesent pharetra faucibus ligula vitae feugiat. Nulla mattis arcu sem, quis rhoncus mi elementum ac. Aliquam et enim vestibulum, tristique eros elementum, tincidunt nibh. Duis bibendum sem in tellus venenatis, a scelerisque metus congue. Nullam ullamcorper cursus turpis sed accumsan. Maecenas posuere elit at magna volutpat, imperdiet vulputate justo pretium. Integer iaculis in felis at gravida. Curabitur at odio varius, facilisis leo vitae, dictum mi. Aliquam euismod neque sed ipsum iaculis, sit amet sodales lorem interdum. Donec ut porta lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus egestas tempus sodales.
                            <br></br>
                        </p>
                    
                    </div>
                </center>
            </div>
        </div>


{% endblock %}